.shade-active{
    position: fixed;
    display: block;
    z-index: 1000;
    pointer-events: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 100%;
    min-width: 100%;
    background-color:  rgba(250,150,50,.5);
    
}
.shade-inactive{
    display: none;
}